global
    daemon
    maxconn 256
    log stdout format json daemon
    setenv OTEL_SERVICE_NAME haproxy

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend pg_write
    bind *:5432
    default_backend pg_write_servers

frontend pg_read
    bind *:5433
    default_backend pg_read_servers

backend pg_write_servers
    option tcp-check
    tcp-check connect
    tcp-check send GET\ /master\ HTTP/1.0\r\n\r\n
    tcp-check expect string 200
    server node1 clab-pg-lab-node1:5432 check port 8008 inter 3s rise 2 fall 2
    server node2 clab-pg-lab-node2:5432 check port 8008 inter 3s rise 2 fall 2

backend pg_read_servers
    option tcp-check
    tcp-check connect
    tcp-check send GET\ /replica\ HTTP/1.0\r\n\r\n
    tcp-check expect string 200
    balance roundrobin
    option allbackups
    server node2 clab-pg-lab-node2:5432 check port 8008 inter 3s rise 2 fall 2
    server node1 clab-pg-lab-node1:5432 check port 8008 inter 3s rise 2 fall 2 backup no-check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats realm HAProxy\ Statistics
    stats auth admin:admin
