global
  daemon
  maxconn 256

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend pg_write
  bind *:5432
  default_backend pg_servers

backend pg_servers
    option tcp-check
    tcp-check connect
    server node1 clab-pg-lab-node1:5432 check port 8008 inter 3s rise 2 fall 2
    server node2 clab-pg-lab-node2:5432 check port 8008 inter 3s rise 2 fall 2
